/Code/ServerApp/obj
/Code/ServerApp/bin
/Code/obj
/Code/bin
/Code/Scripts/Temp
/Code/Scripts/obj
/Code/Launch/bin
/Code/Launch/obj
/Unity/Temp
/Unity/obj
/Unity/Library
/Unity/Logs
/Code/Temp
/Code/.vs
/Unity/.vs
/Server/.vs
/Server/bin
/Server/obj
/Unity/UserSettings
/Unity/.vsconfig
/Unity/Unity.sln
