/Code/ServerApp/obj
/Code/ServerApp/bin
/Code/obj
/Code/bin
/Code/Scripts/Temp
/Code/Scripts/obj
/Code/Launch/bin
/Code/Launch/obj
/Unity/Temp
/Unity/obj
/Unity/Library
/Unity/Logs
/Code/Temp
/Code/.vs
